@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@property --rotate {
    syntax: "<angle>";
    initial-value: 45deg;
    inherits: false;
}

:root {
    --bg-color: #0a0a0a;
    --fg-color: #fff;
    --fg-color-content: rgb(209 213 219);
    --bg-color-special: #191919;
    --fg-color-special: rgb(226, 81, 81);
    --fg-color-light: rgb(156 163 175);
    --width-container: 1280px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: 18px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    > header {
        z-index: 2;
        padding: 0.5em 1em;
        background: #0a0a0a;
        backdrop-filter: blur(10px);
        transition: all 0.3s ease;
        position: fixed;
        width: 100%;
        transition: all 0.3s ease;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                padding: 0;
                margin: 0.2em 0;
                list-style: none;
                gap: 1em;
                display: flex;
                align-items: self-start;

                li {
                    text-transform: uppercase;
                    color: var(--fg-color-light);
                    fill: var(--fg-color-light);

                    svg {
                        width: 1.1em;
                        height: 1.1em;
                        fill: var(--fg-color-light);
                    }
                }
            }

            ul.logo {
                font-weight: 600;
                font-size: 1.25em;
                letter-spacing: -0.05em;

                span {
                    color: var(--fg-color-special);
                }
            }
        }
    }

    > header:hover {
        transform: translateY(-5px);
    }

    main {
        margin: 1em;
        margin-top: 3em;
        padding-bottom: 1em;

        > * {
            max-width: var(--width-container);
            margin: 0 auto;
        }
    }

    .lang-selector {
        select {
            border: none;
            outline: none;
            color: inherit;
            background-color: inherit;
            font-size: 1em;
            text-transform: uppercase;
            vertical-align: top;
        }
    }
}

code {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--bg-color-special);
    color: var(--fg-color-special);
    padding: 0.1em 0.3em;
    border-radius: 4px;
}

button {
    font-size: large;
    font-weight: 600;
    background-color: var(--fg-color-special);
    color: var(--bg-color-special);
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--fg-color-light);
}

a {
    color: var(--fg-color-special);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

a.external-link::after {
    content: "↗";
    display: inline-block;
    margin-left: 0.25em;
    font-size: 0.85em;
}

input,
textarea {
    background-color: var(--bg-color-special);
    color: var(--fg-color-content);
    border: none;
    outline: 1px solid var(--bg-color-special);
    padding: 0.5em;
    border-radius: 4px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

input:hover,
textarea:hover {
    background-color: var(--bg-color-special);
}
