@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
    --bg-color: #191919;
    --fg-color: #fff;
    --bg-color-special: #191919;
    --fg-color-special: #e25151;
    --fg-color-light: #acacac;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: 18px;
}

body::before {
    --size: 100px;
    --line: color-mix(in lch, canvasText, #76707080 85%);
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
                90deg,
                var(--line) 1px,
                transparent 1px var(--size)
            )
            50% 50% / var(--size) var(--size),
        linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
            var(--size) var(--size);
    mask: linear-gradient(-25deg, transparent 30%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
}

a {
    color: var(--fg-color);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    > header {
        padding: 0.5em 1em;

        nav {
            ul {
                margin: 0.2em 0;
                list-style: none;
                display: flex;
                justify-content: flex-end;
                gap: 2em;

                li {
                    text-transform: uppercase;
                    color: var(--fg-color-light);
                    fill: var(--fg-color-light);
                    font-size: 1em;
                    display: flex;
                    align-items: center;

                    label {
                        display: flex;
                        align-items: center;
                    }

                    svg {
                        width: 1.1em;
                        height: 1.1em;
                        fill: var(--fg-color-light);
                    }
                }
            }
        }
    }

    main {
        margin: 1em;

        > * {
            max-width: 1280px;
            margin: 0 auto;
        }
    }

    .lang-selector {
        display: flex;
        align-items: center;

        select {
            border: none;
            outline: none;
            color: inherit;
            background-color: inherit;
            font-size: 1em;
            text-transform: uppercase;
        }
    }

    .page {
        padding: 0 1em;

        font-size: clamp(1.2rem, 0.6429rem + 1.1429vw, 3rem);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }

        .profile {
            font-size: 1.5em;
            max-width: 800px;

            .profile__title {
                font-size: 2em;
                color: var(--fg-color-light);

                div,
                h1 {
                    display: inline;
                }

                div {
                    margin-right: 0.2em;
                }

                h1 {
                    color: var(--fg-color-special);
                    margin: 0;
                    font-size: 1em;
                }
            }

            .profile__content {
                margin-top: 1em;
                font-size: 1em;
            }

            .profile__work {
                margin-top: 1em;
                font-size: 0.5em;
                line-height: 1.3em;
                color: var(--fg-color-light);
            }
        }

        .experience,
        .open-source {
            margin-top: 3em;

            .experience__title,
            .open-source__title {
                font-size: 1.5em;
                color: var(--fg-color-light);

                h2 {
                    font-size: 1em;
                }
            }

            .experience__content,
            .open-source__content {
                margin-top: 1em;
                display: flex;
                gap: 2em;
                flex-wrap: wrap;
            }
        }

        .experience {
            .experience__content {
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: end;
                    gap: 0.5em;
                    max-width: 300px;
                    font-size: 1em;

                    svg {
                        width: 3em;
                        height: 3em;
                    }
                }
            }
        }

        .open-source {
            .open-source__content {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

                @media (max-width: 500px) {
                    grid-template-columns: 1fr;
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 0.5em;
                    border: 1px solid var(--fg-color-light);
                    padding: 1em;
                    border-radius: 1em;
                    position: relative;

                    .item::before {
                        --deg: 90deg;
                        --blur: 5px;
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        filter: blur(var(--blur, 5px));
                        background: linear-gradient(
                            var(--deg, 45deg),
                            black,
                            #651b1b
                        );
                        z-index: -1;
                        box-shadow: 0 0 10px rgb(125 101 101 / 80%);
                    }

                    .title {
                        svg {
                            margin-left: 0.2em;
                            width: 0.7em;
                            height: 0.7em;
                            fill: var(--fg-color-light);
                        }
                    }

                    .badges {
                        display: flex;
                        gap: 0.5em;
                        flex-wrap: wrap;
                        justify-content: center;
                    }

                    .tags {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.5em;

                        em {
                            font-size: 0.6em;
                            padding: 0.2em 0.5em;
                            border: 1px solid var(--fg-color-light);
                            border-radius: 1em;
                        }
                    }

                    .description {
                        font-size: 0.8em;
                        line-height: 1.3em;
                        color: var(--fg-color-light);

                        code {
                            color: var(--fg-color);
                            font-weight: bold;
                            font-family: inherit;
                        }
                    }
                }
            }
        }
    }
}
