name: analyse

on:
  push:
      paths:
          - 'app/**/**.php'
          - 'phpstan.neon.dist'
          - '.github/workflows/phpstan.yml'
  pull_request:
      paths:
          - 'app/**/**.php'
          - 'phpstan.neon.dist'
          - '.github/workflows/phpstan.yml'

jobs:
  phpstan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.4
        coverage: none

    - name: Install composer dependencies
      uses: ramsey/composer-install@v3

    - name: Run analyse phpstan
      run: vendor/bin/phpstan analyse --error-format github
